body {
    /* min-height: 100vh; */
    background: url(/static/css/background_img/audifonos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

input {
    text-transform: capitalize;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

ol {
    padding: 0;
}

#myLi {
    list-style: none;
    color: transparent;
    cursor: default;
    font-size: 0.5px;
}

.filtro {
    display: none;
}