#mychord {
    white-space: pre;
    font-size: 20px;
    color: red;
}

#mylyc {
    font-size: 20px;
}

strong {
    font-size: 17px;
}

#mainContainer {
    grid-area: lyricchord;
}

#mainImageDiv {
    grid-area: images;
    text-align: center;
}
img {
    width: 80px;
    height: 90px;
}
#pianoDiv #pianoChords {
    width: 130px;
}
#bassDiv #bassChords {
    width: 180px;
    height: 450px;
}

#mainContainer {
    display: grid;
    grid-template-areas: 
    'lyricchord images';
    grid-column-gap: 2px;
}

@media (max-width: 500px) {
    /* #lyricsChords {
        font-size: 13px;
        min-width: 310px;
    }
    strong {
        font-size: 14px;
    } */
    #mainImageDiv {
        background-color: red;
        display: none;
    }
}