<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/changetone.css') }}">
    <title>Song</title>
</head>
<body>
    
    <h1>{{ msg[0] }}</h1>
    <h3>Tono: {{ msg[2] }}</h3>
    
    <div id="mainContainer">
        <!-- DISPLAY CHORDS AND LIRYCS -->
        <div id="lyricsChords">
            {% for x in range(chp|length) %}
                <p>{{ chp[x] }}</p>
                <strong>{{ ts['lirycs'][x] }}</strong>
            {% endfor %}
        </div>

        <!-- DISPLAY CHORD IMAGES -->
        <div id="mainImageDiv">
            <p>Acordes</p>
            <select name="" id="idSelect" onchange="selectGuitar()">
                <option value="Clear">Instrumento</option>
                <option value="Guitar">Guitarra</option>
                <option value="Piano">Piano</option>
                <option value="Bass">Bajo</option>
            </select>

            <div id="guitarDiv" style="display: none;">
                {% for x in snt %}
                    <img src="/static/css/guitar_chords/{{ x }}.JPG">
                {% endfor %}
            </div>

            <div id="pianoDiv" style="display: none;">
                {% for x in snt %}
                    <img src="/static/css/piano_chords/{{ x }}.JPG"  id="pianoChords">
                {% endfor %}
            </div>

            <div id="bassDiv" style="display: none;">
                <img src="/static/css/bass_chords/bass.JPG" id="bassChords">
            </div>
        </div>

    </div>

    <!-- SCRIPTS -->
    <script>
        function selectGuitar () {
            var mainVal = document.getElementById('idSelect');
            var selectedValue = mainVal.value;
            
            if (selectedValue=="Guitar") {
                var selectGuitar = document.getElementById('guitarDiv');
                selectGuitar.style.display = 'block';
                
                var hidePiano = document.getElementById('pianoDiv');
                hidePiano.style.display = 'none';
                
                var hideBass = document.getElementById('bassDiv');
                hideBass.style.display = 'none';
            }

            if (selectedValue=="Piano") {
                var selectGuitar = document.getElementById('pianoDiv');
                selectGuitar.style.display = 'block';
                
                var hidePiano = document.getElementById('guitarDiv');
                hidePiano.style.display = 'none';
                
                var hideBass = document.getElementById('bassDiv');
                hideBass.style.display = 'none';
            }

            if (selectedValue=="Bass") {
                var selectGuitar = document.getElementById('bassDiv');
                selectGuitar.style.display = 'block';
                
                var hidePiano = document.getElementById('guitarDiv');
                hidePiano.style.display = 'none';
                
                var hideBass = document.getElementById('pianoDiv');
                hideBass.style.display = 'none';
            }

            if (selectedValue=="Clear") {
                var selectGuitar = document.getElementById('guitarDiv');
                selectGuitar.style.display = 'none';
                
                var hidePiano = document.getElementById('pianoDiv');
                hidePiano.style.display = 'none';
                
                var hideBass = document.getElementById('bassDiv');
                hideBass.style.display = 'none';
            }
        }
    </script>

</body>
</html>