<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/changetone.css') }}">
    <title>Song</title>
</head>
<body>
    
    <h1>{{ msg[0] }}</h1>
    <h3>Tono: {{ msg[2] }}</h3>
    
    <div id="mainContainer">
        <!-- DISPLAY CHORDS AND LIRYCS -->
        <div id="lyricsChords">
            {% for x in range(chp|length) %}
                <p>{{ chp[x] }}</p>
                <strong>{{ ts['lirycs'][x] }}</strong>
            {% endfor %}
        </div>

        <!-- DISPLAY CHORD IMAGES -->
        <div id="mainImageDiv">
            <p>Acordes</p>
            {% for x in snt %}
                <img src="/static/css/chords/{{ x }}.JPG">
            {% endfor %}
        </div>

    </div>

</body>
</html>