<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_layout.css') }}">
    <title>Home</title>
</head>
<body>

    <h1>Himnario Iglesia Bautista El Mesias</h1>

    <h2>Grupo Et Ratzon<br>(Un tiempo agradable para Dios)</h2>

    <form action="/songs" method="post">
        
        <ol>
            <li><button name="song" type="submit" value="Amor es">Amor es</button></li>
            <li><button name="song" type="submit" value="Lo debes compartir">Lo debes compartir</button></li>
            <li><button name="song" type="submit" value="El espiritu de Dios esta">El espiritu de Dios esta</button></li>
            <li><button name="song" type="submit" value="Majestuoso">Majestuoso</button></li>
            <li><button name="song" type="submit" value="Mi amado Jesus">Mi amado Jesus</button></li>
            <li><button name="song" type="submit" value="Tu amor por mi">Tu amor por mi</button></li>
            <li><button name="song" type="submit" value="Vine a adorar a Dios">Vine a adorar a Dios</button></li>
            <li><button name="song" type="submit" value="Eres mi todo Dios">Eres mi todo Dios</button></li>
            <li><button name="song" type="submit" value="Agnus Dei">Agnus Dei</button></li>
            <li><button name="song" type="submit" value="Ven Espiritu ven">Ven Espiritu ven</button></li>
            
            <br>
            
            <li><button name="song" type="submit" value="Señor quien entrara">Señor quien entrara</button></li>
            <li><button name="song" type="submit" value="Usa mi vida">Usa mi vida</button></li>
            <li><button name="song" type="submit" value="Que mi vida entera esté">Que mi vida entera esté</button></li>
            <li><button name="song" type="submit" value="Quiero date el honor">Quiero date el honor</button></li>
            <li><button name="song" type="submit" value="Salmo 19 (la ley de Jeova)">Salmo 19 (la ley de Jeova)</button></li>
            <li><button name="song" type="submit" value="A Jeova cantare  en mi vida">A Jeova cantare  en mi vida</button></li>
            <li><button name="song" type="submit" value="Solo en Jesus">Solo en Jesus</button></li>
            <li><button name="song" type="submit" value="10,000 razones">10,000 razones</button></li>
            <li><button name="song" type="submit" value="Cuan grande es El">Cuan grande es El</button></li>
            <li><button name="song" type="submit" value="Gozo por verte">Gozo por verte</button></li>
            
            <br>
            
            <li><button name="song" type="submit" value="Tu mirada">Tu mirada</button></li>
            <li><button name="song" type="submit" value="Mantos y palmas">Mantos y palmas</button></li>
            <li><button name="song" type="submit" value="Nehemias 9">Nehemias 9 (Tu solo eres Jeova)</button></li>
            <li><button name="song" type="submit" value="Tierra de palestina">Tierra de palestina</button></li>
            <li><button name="song" type="submit" value="Porque El vive">Porque El vive</button></li>
            <li><button name="song" type="submit" value="Bendito Jeova">Bendito Jeova</button></li>
            <li><button name="song" type="submit" value="Cadena de coros">Cadena de coros (No hay Dios)</button></li>
            <li><button name="song" type="submit" value="Que me puede dar perdon">Que me puede dar perdon</button></li>
            <li><button name="song" type="submit" value="Dos o tres">Dos o tres</button></li>
            <li><button name="song" type="submit" value="En la cruz">En la cruz</button></li>

            <br>
            
            <li><button name="song" type="submit" value="Saliendo del pretorio">Saliendo del pretorio</button></li>
            <li><button name="song" type="submit" value="Creo en Dios">Creo en Dios</button></li>
            <li><button name="song" type="submit" value="Dios cuide tu semana">Dios cuide tu semana</button></li>
            <li><button name="song" type="submit" value="Somos el pueblo de Dios">Somos el pueblo de Dios</button></li>
            <li><button name="song" type="submit" value="La tumba le encerró">La tumba le encerró</button></li>
            <li><button name="song" type="submit" value="Mas de ti Cristo">Mas de ti Cristo</button></li>
            <li><button name="song" type="submit" value="Hay momentos">Hay momentos</button></li>
            <li><button name="song" type="submit" value="Bueno es alabar">Bueno es alabar</button></li>
            <li><button name="song" type="submit" value="Cuando llegue el final">Cuando llegue el final</button></li>
            <li><button name="song" type="submit" value="Eres limpio en la sangre">Eres limpio en la sangre</button></li>

            <br>
            
            <li><button name="song" type="submit" value="Tu fidelidad es grande">Tu fidelidad es grande</button></li>
            <li><button name="song" type="submit" value="Abre mis ojos">Abre mis ojos</button></li>
            <li><button name="song" type="submit" value="A su tiempo">A su tiempo</button></li>
            <li><button name="song" type="submit" value="Mi pensamiento eres tu Señor">Mi pensamiento eres tu Señor</button></li>
            <li><button name="song" type="submit" value="Maravilloso es">Maravilloso es</button></li>
            <li><button name="song" type="submit" value="Dulces melodias">Dulces melodias</button></li>
            <li><button name="song" type="submit" value="Cristo rompe las cadenas">Cristo rompe las cadenas</button></li>
            <li><button name="song" type="submit" value="Estoy cantando alegre">Estoy cantando alegre</button></li>
            <li><button name="song" type="submit" value="Oh ven y deleitate">Oh ven y deleitate</button></li>
            <li><button name="song" type="submit" value="Aleluya">Aleluya</button></li>

            <br>
            
            <li><button name="song" type="submit" value="Unidos">Unidos</button></li>
            <li><button name="song" type="submit" value="Hacemos hoy">Hacemos hoy</button></li>
            <li><button name="song" type="submit" value="Dios manda lluvia">Dios manda lluvia</button></li>
            <li><button name="song" type="submit" value="Al que me ciñe de poder">Al que me ciñe de poder</button></li>
            <li><button name="song" type="submit" value="El señor es mi pastor">El señor es mi pastor</button></li>
            <li><button name="song" type="submit" value="Manos cariñosas">Manos cariñosas</button></li>
            <li><button name="song" type="submit" value="Dios imparable">Dios imparable</button></li>
            <li><button name="song" type="submit" value="Mas tu luz me guiara">Mas tu luz me guiara</button></li>
            <li><button name="song" type="submit" value="Cada dia">Cada dia</button></li>
            <li><button name="song" type="submit" value="Eres tu">Eres tu</button></li>

            <br>
            
            <li><button name="song" type="submit" value="Renuevame">Renuevame</button></li>
            <li><button name="song" type="submit" value="Una noche fue">Una noche fue</button></li>
            <li><button name="song" type="submit" value="Exaltad">Exaltad</button></li>
            <li><button name="song" type="submit" value="Brilla mas que el sol mi Dios">Brilla mas que el sol mi Dios</button></li>
            <li><button name="song" type="submit" value="El rey ya viene">El rey ya viene</button></li>
            <li><button name="song" type="submit" value="Aquí estoy">Aquí estoy</button></li>
            <li><button name="song" type="submit" value="Temprano yo te buscare">Temprano yo te buscare</button></li>
            <li><button name="song" type="submit" value="Ese gozo que yo siento">Ese gozo que yo siento</button></li>
            <li><button name="song" type="submit" value="Dios esta aquí">Dios esta aquí</button></li>
            <li><button name="song" type="submit" value="Ya pertenesco a El">Ya pertenesco a El</button></li>

            <br>
            
            <li><button name="song" type="submit" value="Abres camino">Abres camino</button></li>
            <li><button name="song" type="submit" value="La cancion del Espiritu">La cancion del Espiritu</button></li>
            <li><button name="song" type="submit" value="Quiero darte gracias">Quiero darte gracias</button></li>
            <li><button name="song" type="submit" value="Gloria te doy">Gloria te doy</button></li>
            <li><button name="song" type="submit" value="Setenta veces siete">Setenta veces siete</button></li>
            <li><button name="song" type="submit" value="La cosecha">La cosecha</button></li>
            <li><button name="song" type="submit" value="Quiero alabarte">Quiero alabarte</button></li>
            <li><button name="song" type="submit" value="Junto a la cruz">Junto a la cruz</button></li>
            <li><button name="song" type="submit" value="Gracias">Gracias</button></li>
            <li><button name="song" type="submit" value="Yo te busco">Yo te busco</button></li>
            
            <br>
            
            <li><button name="song" type="submit" value="Llego la navidad">Llego la navidad</button></li>
            <li><button name="song" type="submit" value="El regalo de Dios">El regalo de Dios</button></li>
            <li><button name="song" type="submit" value="Tu dejaste tu trono">Tu dejaste tu trono</button></li>
            <li><button name="song" type="submit" value="Alabanzas al rey">Alabanzas al rey</button></li>
            <li><button name="song" type="submit" value="Ve dilo a las montañas">Ve dilo a las montañas</button></li>
            <li><button name="song" type="submit" value="Que niño es este">Que niño es este</button></li>
            <li><button name="song" type="submit" value="Oh santisimo">Oh santisimo</button></li>
            <li><button name="song" type="submit" value="Noche de paz">Noche de paz</button></li>
            <li><button name="song" type="submit" value="Muchas gracias Señor">Muchas gracias Señor</button></li>
            <li><button name="song" type="submit" value="Llename">Llename</button></li>
            
            <br>

            <li><button name="song" type="submit" value="Yo me rindo a El">Yo me rindo a El</button></li>
            <li><button name="song" type="submit" value="Tu nombre levantare">Tu nombre levantare</button></li>
            <li><button name="song" type="submit" value="Quiero date las gracias">Quiero date las gracias</button></li>
            <li><button name="song" type="submit" value="Debemos esperar">Debemos esperar</button></li>
            <li><button name="song" type="submit" value="Pastor siervo de Dios">Pastor siervo de Dios</button></li>
            <li><button name="song" type="submit" value="Ofrendas de amor">Ofrendas de amor</button></li>
            <li><button name="song" type="submit" value="El Dios que adoramos">El Dios que adoramos</button></li>
            <li><button name="song" type="submit" value="No dare">No dare</button></li>
            <li><button name="song" type="submit" value="En el monte calvario">En el monte calvario</button></li>
            <li><button name="song" type="submit" value="Eres mi rey">Eres mi rey</button></li>
            
            <br>

            <li><button name="song" type="submit" value="La historia de Cristo">La historia de Cristo</button></li>
            <li><button name="song" type="submit" value="Dios esta presente">Dios esta presente</button></li>
            <li><button name="song" type="submit" value="Dilo a Cristo">Dilo a Cristo</button></li>
            <li><button name="song" type="submit" value="Te necesito">Te necesito</button></li>
            <li><button name="song" type="submit" value="Enciende una luz">Enciende una luz</button></li>
            <li><button name="song" type="submit" value="Corazones siempre alegres">Corazones siempre alegres</button></li>
            <li><button name="song" type="submit" value="Cerca mas cerca">Cerca mas cerca</button></li>
            <li><button name="song" type="submit" value="Firmes y adelante">Firmes y adelante</button></li>
            <li><button name="song" type="submit" value="Siento su Gloria">Siento su Gloria</button></li>
            <li><button name="song" type="submit" value="Tu eres mi respirar">Tu eres mi respirar</button></li>
            
            <br>

            <li><button name="song" type="submit" value="Una linda cancion">Una linda cancion</button></li>
            <li><button name="song" type="submit" value="Yo tengo gozo">Yo tengo gozo</button></li>
            <li><button name="song" type="submit" value="Danos un bello hogar">Danos un bello hogar</button></li>
            <li><button name="song" type="submit" value="Tomados de la mano">Tomados de la mano</button></li>
            <li><button name="song" type="submit" value="Cristo es el Señor de las naciones">Cristo es el Señor de las naciones</button></li>
            <li><button name="song" type="submit" value="Grande es tu fidelidad">Grande es tu fidelidad</button></li>
            <li><button name="song" type="submit" value="Dios no nos trajo hasta aquí">Dios no nos trajo hasta aquí</button></li>
            <li><button name="song" type="submit" value="Aleluya">Aleluya</button></li>
            <li><button name="song" type="submit" value="Te alabare mi buen Jesus">Te alabare mi buen Jesus</button></li>
            <li><button name="song" type="submit" value="Cuan gloriosa sera la mañana">Cuan gloriosa sera la mañana</button></li>
            
            <br>

            <li><button name="song" type="submit" value="Cristo te amo">Cristo te amo</button></li>
            <li><button name="song" type="submit" value="Junto a ti mi buen señor">Junto a ti mi buen señor</button></li>
            <li><button name="song" type="submit" value="Rey de gloria">Rey de gloria</button></li>
            <li><button name="song" type="submit" value="Se un ejemplo">Se un ejemplo</button></li>
            
        </ol>
    </form>

</body>
</html>