<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_layout.css') }}">
    <title>Et Ratzon</title>
    <link rel="icon" href="/static/css/background_img/nota_logo.png">
</head>
<body>

    <h1>Grupo de alabanza</h1>

    <h2>Et Ratzon</h2>
    <input type="search" class="buscador" id="buscador" placeholder="Buscar">

    <form action="/songs" method="post">
        
        <ol class="list-group pb-3">
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Amor es">1. Amor es</button>Amor es</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Lo debes compartir">2. Lo debes compartir</button>Lo debes compartir</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="El espiritu de Dios esta">3. El espiritu de Dios esta</button>El espiritu de Dios esta</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Majestuoso">4. Majestuoso</button>Majestuoso</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Mi amado Jesus">5. Mi amado Jesus</button>Mi amado Jesus</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Tu amor por mi">6. Tu amor por mi</button>Tu amor por mi</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Vine a adorar a Dios">7. Vine a adorar a Dios</button>Vine a adorar a Dios</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Eres mi todo Dios">8. Eres mi todo Dios</button>Eres mi todo Dios</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Agnus Dei">9. Agnus Dei</button>Agnus Dei</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Ven Espiritu ven">10. Ven Espiritu ven</button>Ven Espiritu ven</li>
            
            
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Señor quien entrara">11. Señor quien entrara</button>Señor quien entrara</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Usa mi vida">12. Usa mi vida</button>Usa mi vida</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Que mi vida entera esté">13. Que mi vida entera esté</button>Que mi vida entera esté</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Quiero date el honor">14. Quiero date el honor</button>Quiero date el honor</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Salmo 19 (la ley de Jeova)">15. Salmo 19 (la ley de Jehova)</button>Salmo 19 (la ley de Jehova)</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="A Jeova cantare  en mi vida">16. A Jehova cantare  en mi vida</button>A Jehova cantare  en mi vida</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Solo en Jesus">17. Solo en Jesus</button>Solo en Jesus</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="10,000 razones">18. 10,000 razones</button>10,000 razones</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Cuan grande es El">19. Cuan grande es El</button>Cuan grande es El</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Gozo por verte">20. Gozo por verte</button>Gozo por verte</li>
            
            
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Tu mirada">21. Tu mirada</button>Tu mirada</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Mantos y palmas">22. Mantos y palmas</button>Mantos y palmas</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Nehemias 9">23. Nehemias 9 (Tu solo eres Jehova)</button>Nehemias 9 (Tu solo eres Jehova)</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Tierra de palestina">24. Tierra de palestina</button>Tierra de palestina</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Porque El vive">25. Porque El vive</button>Porque El vive</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Bendito Jeova">26. Bendito Jehova</button>Bendito Jehova</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Cadena de coros">27. Cadena de coros (No hay Dios)</button>Cadena de coros (No hay Dios)</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Que me puede dar perdon">28. Qué me puede dar perdón</button>Qué me puede dar perdón</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Dos o tres">29. Dos o tres</button>Dos o tres</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="En la cruz">30. En la cruz</button>En la cruz</li>

            
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Saliendo del pretorio">31. Saliendo del pretorio</button>Saliendo del pretorio</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Creo en Dios">32. Creo en Dios</button>Creo en Dios</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Dios cuide tu semana">33. Dios cuide tu semana</button>Dios cuide tu semana</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Somos el pueblo de Dios">34. Somos el pueblo de Dios</button>Somos el pueblo de Dios</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="La tumba le encerró">35. La tumba le encerró</button>La tumba le encerró</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Mas de ti Cristo">36. Mas de ti Cristo</button>Mas de ti Cristo</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Hay momentos">37. Hay momentos</button>Hay momentos</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Bueno es alabar">38. Bueno es alabar</button>Bueno es alabar</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Cuando llegue el final">39. Cuando llegue el final</button>Cuando llegue el final</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Eres limpio en la sangre">40. Eres limpio en la sangre</button>Eres limpio en la sangre</li>

            
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Tu fidelidad es grande">41. Tu fidelidad es grande</button>Tu fidelidad es grande</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Abre mis ojos">42. Abre mis ojos</button>Abre mis ojos</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="A su tiempo">43. A su tiempo</button>A su tiempo</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Mi pensamiento eres tu Señor">44. Mi pensamiento eres tu Señor</button>Mi pensamiento eres tu Señor</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Maravilloso es">45. Maravilloso es</button>Maravilloso es</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Dulces melodias">46. Dulces melodias</button>Dulces melodias</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Cristo rompe las cadenas">47. Cristo rompe las cadenas</button>Cristo rompe las cadenas</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Estoy cantando alegre">48. Estoy cantando alegre</button>Estoy cantando alegre</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Oh ven y deleitate">49. Oh ven y deleitate</button>Oh ven y deleitate</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Aleluya">50. Aleluya</button>Aleluya</li>

            
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Unidos">51. Unidos</button>Unidos</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Hacemos hoy">52. Hacemos hoy</button>Hacemos hoy</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Dios manda lluvia">53. Dios manda lluvia</button>Dios manda lluvia</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Al que me ciñe de poder">54. Al que me ciñe de poder</button>Al que me ciñe de poder</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="El señor es mi pastor">55. El señor es mi pastor</button>El señor es mi pastor</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Manos cariñosas">56. Manos cariñosas</button>Manos cariñosas</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Dios imparable">57. Dios imparable</button>Dios imparable</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Mas tu luz me guiara">58. Más tu luz me guiara</button>Más tu luz me guiara</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Cada dia">59. Cada dia</button>Cada dia</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Eres tu">60. Eres tu</button>Eres tu</li>

            
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Renuevame">61. Renuevame</button>Renuevame</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Una noche fue">62. Una noche fue</button>Una noche fue</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Exaltad">63. Exaltad</button>Exaltad</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Brilla mas que el sol mi Dios">64. Brilla mas que el sol mi Dios</button>Brilla mas que el sol mi Dios</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="El rey ya viene">65. El rey ya viene</button>El rey ya viene</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Aquí estoy">66. Aquí estoy</button>Aquí estoy</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Temprano yo te buscare">67. Temprano yo te buscare</button>Temprano yo te buscare</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Ese gozo que yo siento">68. Ese gozo que yo siento</button>Ese gozo que yo siento</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Dios esta aquí">69. Dios esta aquí</button>Dios esta aquí</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Ya pertenesco a El">70. Ya pertenezco a El</button>Ya pertenezco a El</li>

            
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Abres camino">71. Abres camino</button>Abres camino</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="La cancion del Espiritu">72. La cancion del Espiritu</button>La cancion del Espiritu</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Quiero darte gracias">73. Quiero darte gracias</button>Quiero darte gracias</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Gloria te doy">74. Gloria te doy</button>Gloria te doy</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Setenta veces siete">75. Setenta veces siete</button>Setenta veces siete</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="La cosecha">76. La cosecha</button>La cosecha</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Quiero alabarte">77. Quiero alabarte</button>Quiero alabarte</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Junto a la cruz">78. Junto a la cruz</button>Junto a la cruz</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Gracias">79. Gracias</button>Gracias</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Yo te busco">80. Yo te busco</button>Yo te busco</li>
            
            
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Llego la navidad">81. Llego la navidad</button>Llego la navidad</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="El regalo de Dios">82. El regalo de Dios</button>El regalo de Dios</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Tu dejaste tu trono">83. Tu dejaste tu trono</button>Tu dejaste tu trono</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Alabanzas al rey">84. Alabanzas al rey</button>Alabanzas al rey</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Ve dilo a las montañas">85. Ve dilo a las montañas</button>Ve dilo a las montañas</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Que niño es este">86. Que niño es este</button>Que niño es este</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Oh santisimo">87. Oh santisimo</button>Oh santisimo</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Noche de paz">88. Noche de paz</button>Noche de paz</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Muchas gracias Señor">89. Muchas gracias Señor</button>Muchas gracias Señor</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Llename">90. Llename</button>Llename</li>
            

            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Yo me rindo a El">91. Yo me rindo a El</button>Yo me rindo a El</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Tu nombre levantare">92. Tu nombre levantare</button>Tu nombre levantare</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Quiero date las gracias">93. Quiero darte las gracias</button>Quiero darte las gracias</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Debemos esperar">94. Debemos esperar</button>Debemos esperar</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Pastor siervo de Dios">95. Pastor siervo de Dios</button>Pastor siervo de Dios</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Ofrendas de amor">96. Ofrendas de amor</button>Ofrendas de amor</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="El Dios que adoramos">97. El Dios que adoramos</button>El Dios que adoramos</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="No dare">98. No dare</button>No dare</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="En el monte calvario">99. En el monte calvario</button>En el monte calvario</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Eres mi rey">100. Eres mi rey</button>Eres mi rey</li>
            

            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="La historia de Cristo">101. La historia de Cristo</button>La historia de Cristo</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Dios esta presente">102. Dios esta presente</button>Dios esta presente</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Dilo a Cristo">103. Dilo a Cristo</button>Dilo a Cristo</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Te necesito">104. Te necesito</button>Te necesito</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Enciende una luz">105. Enciende una luz</button>Enciende una luz</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Corazones siempre alegres">106. Corazones siempre alegres</button>Corazones siempre alegres</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Cerca mas cerca">107. Cerca mas cerca</button>Cerca mas cerca</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Firmes y adelante">108. Firmes y adelante</button>Firmes y adelante</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Siento su Gloria">109. Siento su Gloria</button>Siento su Gloria</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Tu eres mi respirar">110. Tu eres mi respirar</button>Tu eres mi respirar</li>
            

            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Una linda cancion">111. Una linda cancion</button>Una linda cancion</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Yo tengo gozo">112. Yo tengo gozo</button>Yo tengo gozo</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Danos un bello hogar">113. Danos un bello hogar</button>Danos un bello hogar</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Tomados de la mano">114. Tomados de la mano</button>Tomados de la mano</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Cristo es el Señor de las naciones">115. Cristo es el Señor de las naciones</button>Cristo es el Señor de las naciones</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Grande es tu fidelidad">116. Grande es tu fidelidad</button>Grande es tu fidelidad</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Dios no nos trajo hasta aquí">117. Dios no nos trajo hasta aquí</button>Dios no nos trajo hasta aquí</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Aleluya">118. Aleluya</button>Aleluya</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Te alabare mi buen Jesus">119. Te alabare mi buen Jesus</button>Te alabare mi buen Jesus</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Cuan gloriosa sera la mañana">120. Cuan gloriosa sera la mañana</button>Cuan gloriosa sera la mañana</li>
            

            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Cristo te amo">121. Cristo te amo</button>Cristo te amo</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Junto a ti mi buen señor">122. Junto a ti mi buen señor</button>Junto a ti mi buen señor</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Rey de gloria">123. Rey de gloria</button>Rey de gloria</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Se un ejemplo">124. Se un ejemplo</button>Se un ejemplo</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value=""></button></li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Ayer cantaba y cantaba">126. Ayer cantaba y cantaba</button>Ayer cantaba y cantaba</li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value=""></button></li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value=""></button></li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value=""></button></li>
            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value=""></button></li>


            <li id="myLi" class="canciones list-group-item"><button name="song" type="submit" value="Damelo señor damelo">131. Damelo Señor damelo</button>Damelo Señor damelo</li>
        </ol>
    </form>

    <script>
        document.addEventListener('keyup', e => {
            if (e.target.matches('#buscador')){
                document.querySelectorAll('.canciones').forEach(cancion =>{
                    cancion.textContent.includes(e.target.value)
                    ? cancion.classList.remove('filtro')
                    : cancion.classList.add('filtro');
                })
            }
        })
    </script>

</body>
</html>